references/firstWeb/dokument1.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dokument">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="head">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="meta"/>
              <xs:element type="xs:string" name="link"/>
              <xs:element type="xs:string" name="title"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="header">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="h1"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="section">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="article"/>
                    <xs:element type="xs:string" name="h1"/>
                    <xs:element type="xs:string" name="p"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="footer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="p"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>